h1{
    color: orange;
}
p{
    color: white;
}

body{
    background-color: black;
    text-align: center;
}

button{
    align-items: center;
    width: 150px;
    background-color: orange;
    border-radius: 10px;
    color: white;
    font: bold;
    border: none;
}